:root {
  --space-base: 30px;
  --orange: rgba(225,116,48,1);
  --light-orange: rgb(255, 186, 137);
  --green: #1cc8ae;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}

main {
  max-width: 80vw;
  margin: 0 auto;

  font-size: 1.6rem;
}

.description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 500px;
}

.description .info {
  margin-left: var(--space-base);
  margin-right: calc(var(--space-base) * 2);
  align-self: center;
}

.info h1 {
  color: #0a1a2d;
  font-size: 4.8rem;
  font-weight: 900;
  line-height: 4.8rem;
}

.info p {
  margin: var(--space-base) 0;
}

.info button {
  padding: calc(var(--space-base) / 3) var(--space-base) ;

  font: inherit;
  
  color: white;
  background: linear-gradient(180deg, var(--light-orange) 25%, var(--orange) 100%);
  
  border: none;
  border-radius: var(--space-base);
  outline: inherit;
  cursor: pointer;
}

.description .info-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.our-services h2 {
  margin-top: var(--space-base);
  font-weight: 500;
  text-align: center;
}

.dishes {
  margin: var(--space-base) 0;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, minmax(120px, 220px));
  grid-template-rows: 1fr;
  gap: calc(var(--space-base));
  justify-content: center;
}

.video-img,
.dish-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dishes .video-img {
  grid-area: 1/1/3/3;
}

.dish {
  position: relative;
}

.dishes p {
  position: absolute;
  left: 10px;
  bottom: 10px;

  font-size: 2.2rem;
  color: white;
  text-shadow: 1px 1px 2px #1b1b1b;
}
